
.food-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food{
    width: 80%;
    margin: auto;
    border-radius:15px;
    box-shadow: 0px 0px 10px #0000002c;
    min-height: 350px;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    min-height: 140px;
    max-height: 140px;
}
.food-info{
    padding: 20px;
}
.food-name p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    min-height: 50px;
}
.food-desc{
    color: #676767;
    font-size: 10px;
    min-height: 90px;
}
.food-price{
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-img-container{
    position: relative ;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-radius: 15px;
}
.update{
    color: #00530f;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px;
   
}
.update:hover{
    background-color: #005e164f;
    border: 1px solid #00530f;
}
.delete{
    color: red;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px;
}
.delete:hover{
    background-color: #ffcaca4f;
    border: 1px solid red;
}
.add-food{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    /* color: #5f1111; */
}
.add-food b{
    color: #5f1111;
}
.add-food svg{
    cursor: pointer;
    color: #5f1111;
}