.UpdateCatPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.UpdateCatPopup-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.UpdateCatPopup-title h2 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.UpdateCatPopup-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UpdateCatPopup-inputs input[type="text"],
.UpdateCatPopup-inputs input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.UpdateCatPopup-inputs input[type="text"]:focus,
.UpdateCatPopup-inputs input[type="file"]:focus {
    border-color: red;
}

.UpdateCatPopup button[type="submit"] {
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 70px ;
 
}
.UpdateCatPopup .cancelUpdate{
    padding: 8px 16px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 70px ;
}





